<section class="custom-shopping-container" id="custom-shopping">
  <div class="carousel-container">
    <app-carousel [slides]="slides"></app-carousel>
  </div>

  <div class="custom-shopping-content">
    <span class="custom-shopping-kicker">Shopping personnalisé</span>

    <h2 class="custom-shopping-subtitle">Votre style sur-mesure</h2>

    <p class="custom-shopping-text">
      Vous avez une idée précise de ce que vous voulez, mais pas le temps ou les moyens de le trouver ? <br>
      Confiez-nous votre recherche !<br>
      Envoyez-nous votre moodboard ou vos inspirations, ainsi que vos préférences (taille, couleurs, styles) et nous dénicherons pour vous des pièces de seconde main adaptées à vos envies.<br>
      Un service sur-mesure pour un dressing éthique et stylé, sans effort !<br>
      Premier contact par mail:
      <a href="mailto:neovintage.friperie@gmail.com">neovintage.friperie&#64;gmail.com</a>
    </p>

    <div class="custom-shopping-cards">
      <div class="custom-shopping-card card-sticker">
        <div class="icon-badge">
          <svg lucideShoppingCart></svg>
        </div>
        <h4>
          Panier à 20€ *
        </h4>
        <p>
          Une tenue
        </p>
        <p>
          Un accessoire
        </p>
      </div>

      <div class="custom-shopping-card card-sticker card-sticker--orange">
        <div class="icon-badge">
          <svg lucideShoppingCart></svg>
        </div>
        <h4>
          Panier à 40€ *
        </h4>
        <p>
          Deux tenues
        </p>
        <p>
          Un accessoire
        </p>
      </div>

      <div class="custom-shopping-card card-sticker card-sticker--yellow">
        <div class="icon-badge">
          <svg lucidePackagePlus></svg>
        </div>
        <h4>
          Panier à 60€ *
        </h4>
        <p>
          Deux tenues
        </p>
        <p>
          Un accessoire
        </p>
        <p>
          Une veste,
          un manteau ou
          une paire de chaussures
        </p>
      </div>
    </div>
    <p class="price-text">* Le prix de base peut varier en fonction des matériaux utilisés et de la rareté des pièces.</p>
  </div>
</section>
