<nav class="navbar">
  <div class="navbar__menu" [class.active]="isMenuOpen">
    <ul class="navbar__menu-list">
      <li class="navbar__menu-item">
        <img class="navbar__menu-item-logo" src="assets/images/logo.png" alt="Logo" />
      </li>
      @for (section of sections; track $index) {
        <li class="navbar__menu-item">
          <a
            (click)="handleMenuAction(section.id)"
            class="navbar__menu-link"
          >
            {{ section.label }}
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="navbar__hamburger" (click)="toggleMenu()">
    <span class="navbar__hamburger-bar"></span>
    <span class="navbar__hamburger-bar"></span>
    <span class="navbar__hamburger-bar"></span>
  </div>
</nav>
