<div class="legal-mentions">
  <section>
    <h3>1. Informations légales</h3>
    <p>
      Le site Neo Vintage est édité par :<br>
      <strong>DECHAND Sébastien</strong><br>
      12 Ter rue Jean Jaurès, 21110 GENLIS<br>
      SIRET : 92771364400015<br>
      Numéro TVA : non assujetti à la TVA<br>
      Email : sebastiendechand&#64;gmail.com
    </p>

    <p>
      Directeur de la publication :<br>
      DECHAND Sébastien
    </p>
  </section>

  <section>
    <h3>2. Hébergement</h3>
    <p>
      Ce site est hébergé par :<br>
      Vercel<br>
    </p>
  </section>

  <section>
    <h3>3. Activité</h3>
    <p>
      Neo Vintage est une friperie en ligne spécialisée dans la vente de vêtements et accessoires vintage.
    </p>

    <p>
      Numéro d'immatriculation : 93946782500013<br>
      Activité déclarée : Vente à distance sur catalogue spécialisé (4791B)
    </p>
  </section>

  <section>
    <h3>4. Propriété intellectuelle</h3>
    <p>
      L'ensemble du contenu de ce site (textes, images, logos, vidéos...) est la propriété exclusive de Neo Vintage ou de leurs propriétaires respectifs. Toute reproduction, distribution ou utilisation non autorisée de ces éléments est strictement interdite et constituerait une contrefaçon sanctionnée par le Code de la propriété intellectuelle.
    </p>
  </section>

  <section>
    <h3>5. Service client & Contact</h3>
    <p>
      Pour toute question ou réclamation :<br>
      Email : neovintage.friperie&#64;gmail.com<br>
      Réseaux sociaux : <br>
      <span>&#64;shopneovintage (Instagram)</span> <br>
      <span>Neo Vintage Friperie (Facebook)</span> <br>
      <span>&#64;shopneovintage (TikTok)</span> <br>
      <span>emmanuellevly (Vinted)</span>
    </p>
  </section>

  <section>
    <h3>6. Responsabilité</h3>
    <p>
      Neo Vintage s'efforce d'assurer l'exactitude et la mise à jour des informations diffusées sur son site. Cependant, elle ne peut garantir l'exactitude, la précision ou l'exhaustivité des informations mises à la disposition sur le site.
    </p>
  </section>

  <section>
    <h3>7. Litiges</h3>
    <p>
      Les présentes mentions légales sont soumises au droit français. En cas de litige non résolu à l'amiable entre Neo Vintage et un utilisateur, les tribunaux français seront compétents.
    </p>

    <p>
      Conformément aux articles L.616-1 et R.616-1 du code de la consommation, notre entreprise a mis en place un dispositif de médiation de la consommation. L'entité de médiation retenue est : [Nom du médiateur]. Vous pouvez déposer votre réclamation sur son site : [site du médiateur].
    </p>
  </section>

  <section>
    <h3>8. Mise à jour</h3>
    <p>
      Les présentes mentions légales peuvent être modifiées à tout moment. La date de la dernière mise à jour est : 21/01/2025.
    </p>
  </section>
</div>
