.card {
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
  height: 550px;

  .card-image {
    width: 400px;
    height: auto;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 1rem;
    color: var(--text-secondary);
    margin-bottom: 25px;
  }

  .card-link {
    background-color: var(--text-primary);
    color: var(--text-secondary);
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--text-secondary);
      color: var(--text-primary);
    }
  }
}

@media screen and (max-width: 1740px) {
  .card {
    width: 300px;
    .card-image {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .card {
    width: 240px;
    .card-image {
      width: 240px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 400px;
    .card-image {
      width: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 300px;
    .card-image {
      width: 300px;
    }
  }
}
