.card {
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;

  .card-image {
    width: 400px;
    height: auto;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 1.5rem;
    color: var(--text-secondary);
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 1rem;
    color: var(--text-secondary);
    margin-bottom: 25px;
  }
}
