.add-review-button {
  text-align: center;
  margin: 20px 0;

  .btn-primary {
    background: var(--neo-orange);
    color: var(--text-secondary);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;

    &:hover {
      background: var(--gradient-secondary);
    }
  }
}

.review-form-container {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--text-secondary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h3 {
    color: var(--text-primary);
  }

  .review-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-weight: bold;
        color: var(--text-primary);

      }

      input,
      textarea {
        padding: 10px;
        border: 1px solid var(--background-tertiary);
        border-radius: 4px;
        font-size: 14px;

        color: var(--text-tertiary);

        &::placeholder {
          color: var(--text-tertiary);
        }
      }

      textarea {
        resize: vertical;
        min-height: 100px;
      }
    }

    .rating-input {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 8px;

      .star {
        font-size: 24px;
        cursor: pointer;
        transition: color 0.2s;
        color: var(--text-stars);

        &.clickable:hover,
        &.clickable:hover ~ .clickable,
        &.filled {
          color: var(--neo-orange);
        }
      }
    }

    .checkbox {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
          width: 20px;
          height: 20px;
        }
      }
    }

    .form-actions {
      margin-top: 20px;

      .btn-submit {
        background-color: var(--neo-orange);
        color: var(--text-secondary);
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        transition: all 0.3s;


        &:hover:not(:disabled) {
          background: var(--gradient-secondary);
        }

        &:disabled {
          background-color: var(--background-tertiary);
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .review-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .review-form-container {
    width: 90%;
    .review-form {
      .form-group.checkbox {
        label {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .review-form-container {
    width: 100%;
  }
}
