<app-about appScrollAnimate [animationClass]="'animate-fade-in'"></app-about>
<app-services appScrollAnimate [animationClass]="'animate-fade-in'"></app-services>
<app-photo-gallery appScrollAnimate [animationClass]="'animate-fade-in'"></app-photo-gallery>
<app-creators-gallery appScrollAnimate [animationClass]="'animate-fade-in'"></app-creators-gallery>
<app-custom-shopping appScrollAnimate [animationClass]="'animate-fade-in'"></app-custom-shopping>
<app-reviews appScrollAnimate [animationClass]="'animate-fade-in'"></app-reviews>
