:root {
  /* Couleurs principales de la palette Neo Vintage */
  --neo-peach: rgb(246, 180, 167);
  --neo-pink: #f16c82;
  --neo-orange: rgb(255, 87, 51);
  --neo-fuchsia: #ff3e89;
  --neo-yellow: #ffd700;

  /* Couleurs de texte */
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-tertiary: #333333;
  --text-stars: #838383;

  /* Couleurs de fond */
  --background-primary: #f8f9fa;
  --background-secondary: var(--neo-peach);
  --background-tertiary: #f0f0f0;

  /* Couleurs des boutons */
  --button-color: var(--neo-pink);
  --button-color-hover: var(--neo-fuchsia);

  /* Variables additionnelles */
  --accent-color: var(--neo-fuchsia);
  --gradient-primary: linear-gradient(
    180deg,
    var(--neo-pink),
    var(--neo-peach)
  );
  --gradient-secondary: linear-gradient(
    35deg,
    var(--neo-orange),
    var(--neo-fuchsia)
  );

  /* Polices de caractères */
  --font-heading: "Gliker", sans-serif;
  --font-body: "OpenSans", cursive;
  --font-decorative: "Retrograde", sans-serif;
}

@font-face {
  font-family: "Gliker";
  src: url("/assets/fonts/Gliker.woff2") format("woff2"),
    url("/assets/fonts/Gliker.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  src: url("/assets/fonts/OpenSans.woff2") format("woff2"),
    url("/assets/fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "Retrograde";
  src: url("/assets/fonts/Retrograde.woff2") format("woff2"),
    url("/assets/fonts/Retrograde.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

body {
  background-color: var(--background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  letter-spacing: 1px;
  font-weight: 300;
}

a {
  color: inherit;
}

i {
  overflow: hidden;
}

.text-decorative {
  font-family: var(--font-decorative);
}

.error-message {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.success-message {
  color: #28a745;
  text-align: center;
  padding: 10px;
  background-color: #d4edda;
  border-radius: 4px;
}

/* Animation fade-in */
// .animate-fade-in {
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeIn 0.5s ease forwards;
// }

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
