<section class="about-container" id="about">
  <div class="about-image">
    <img
      src="assets/images/emmanuelle-1920w.webp"
      srcset="
        assets/images/emmanuelle-480w.webp 480w,
        assets/images/emmanuelle-768w.webp 768w,
        assets/images/emmanuelle-1920w.webp 1920w
      "
      sizes="(max-width: 768px) 100vw, 50vw"
      alt="Emmanuelle devant un mur coloré"
      loading="lazy"
    />
  </div>


  <div class="about-content">
    <h2 class="about-title">Qui sommes-nous</h2>

    <h3 class="about-subtitle">Découvrez notre univers vintage</h3>

    <p class="about-text">
      Nous vous proposons une sélection unique de vêtements et accessoires de seconde main à petit prix. <br>
      Notre mission : sensibiliser à la fast fashion, promouvoir l’économie circulaire et offrir à chacun la possibilité de s’habiller avec style tout en respectant la planète. <br>
      Plus qu’un lieu de shopping, c’est un espace d’échange et de solidarité, pensé pour permettre à chacun de s’exprimer et de retrouver confiance en soi. <br>
      Ensemble, célébrons la mode autrement : plus responsable, plus accessible, et plus humaine.
    </p>

    <div class="about-cards">
      <div class="about-card">
        <h4>
          <i class="fa-solid fa-check"></i>
          Des trésors intemporels
        </h4>
        <p>
          Chaque vêtement et accessoire raconte une histoire. Minutieusement choisis, ils allient style rétro et qualité,
          pour que chacun trouve la pièce qui lui correspond.
        </p>
      </div>

      <div class="about-card">
        <h4>
          <i class="fa-solid fa-check"></i>
          Un engagement pour la planète
        </h4>
        <p>
          Nous valorisons la mode durable en donnant une seconde vie à des vêtements de qualité. Notre boutique est un lieu
          d’échange et de solidarité, pour consommer la mode autrement.
        </p>
      </div>

      <div class="about-card">
        <h4>
          <i class="fa-solid fa-check"></i>
          Un espace convivial, plus qu’une friperie
        </h4>
        <p>
          Chez Neo Vintage, nous imaginons un lieu d’échange, de solidarité et de bienveillance.
          Pour nous, chaque vêtement peut être bien plus qu’un simple objet : il a le pouvoir de redonner confiance et d’inspirer ceux qui en ont besoin.
        </p>
      </div>
    </div>
  </div>
</section>
