<section class="footer-container">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-text-container">
        <h2 class="footer-title">Contact</h2>
        <p class="footer-text">
          Vous avez une question ? Des pistes d’amélioration ? N'hésitez pas à nous contacter par mail à l'adresse suivante : <br>
          <a href="mailto:neovintage.friperie&#64;gmail.com" class="footer-text-link">neovintage.friperie&#64;gmail.com</a>
        </p>
      </div>
      <div class="footer-text-container">
        <h2 class="footer-title">Suivez-nous</h2>
        <div class="social-media-container">
          <a href="https://www.facebook.com/profile.php?id=61569847315477" target="_blank" rel="noopener noreferrer" class="social-media-link">
            <img
              src="assets/images/facebook_white-1920w.webp"
              srcset="
                assets/images/facebook_white-480w.webp 480w,
                assets/images/facebook_white-768w.webp 768w,
                assets/images/facebook_white-1920w.webp 1920w
              "
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="Logo Facebook"
              class="social-media-icon"
              loading="lazy"/>
          </a>
          <a href="https://www.instagram.com/shopneovintage/" target="_blank" rel="noopener noreferrer" class="social-media-link">
            <img
              src="assets/images/instagram_white-1920w.webp"
              srcset="
                assets/images/instagram_white-480w.webp 480w,
                assets/images/instagram_white-768w.webp 768w,
                assets/images/instagram_white-1920w.webp 1920w
              "
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="Logo Instagram"
              class="social-media-icon"
              loading="lazy"
            />
          </a>
          <a href="https://www.tiktok.com/@shopneovintage" target="_blank" rel="noopener noreferrer" class="social-media-link">
            <img
              src="assets/images/tic-tac_white-1920w.webp"
              srcset="
                assets/images/tic-tac_white-480w.webp 480w,
                assets/images/tic-tac_white-768w.webp 768w,
                assets/images/tic-tac_white-1920w.webp 1920w
              "
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="Logo TikTok"
              class="social-media-icon"
              loading="lazy"
            />
          </a>
          <a href="https://www.vinted.fr/member/11729892-emmanuellevly" target="_blank" rel="noopener noreferrer" class="social-media-link">
            <img
              src="assets/images/v_white-1920w.webp"
              srcset="
                assets/images/v_white-480w.webp 480w,
                assets/images/v_white-768w.webp 768w,
                assets/images/v_white-1920w.webp 1920w
              "
              sizes="(max-width: 768px) 100vw, 50vw"
              alt="Logo Vinted"
              class="social-media-icon"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="legal-links">
        <a href="#"
           (click)="openModal($event, 'privacy-policy')"
           class="hover:underline">
          Politique de confidentialité
        </a>
        <a href="#"
           (click)="openModal($event, 'cookies-policy')"
           class="hover:underline">
          Politique des cookies
        </a>
        <a href="#"
           (click)="openModal($event, 'legal-mentions')"
           class="hover:underline">
          Mentions légales
        </a>
      </div>
    </div>
  </div>
  <app-legal-modal></app-legal-modal>
</section>
