<section class="footer-container">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-text-container">
        <h2 class="footer-title">Contact</h2>
        <p class="footer-text">
          Vous avez une question ? Des pistes d’amélioration ? N'hésitez pas à nous contacter par mail à l'adresse suivante : <br>
          <a href="mailto:neovintage.friperie&#64;gmail.com" class="footer-text-link">neovintage.friperie&#64;gmail.com</a>
        </p>
      </div>
      <div class="footer-text-container">
        <h2 class="footer-title">Suivez-nous</h2>
        <div class="social-media-container">
          <a href="https://www.facebook.com/profile.php?id=61569847315477" target="_blank" class="social-media-link">
            <img src="assets/images/facebook_white.png" alt="Logo Facebook" class="social-media-icon"/>
          </a>
          <a href="https://www.instagram.com/shopneovintage/" target="_blank" class="social-media-link">
            <img src="assets/images/instagram_white.png" alt="Logo Instagram" class="social-media-icon"/>
          </a>
          <a href="https://www.tiktok.com/@neo.vintageshop" target="_blank" class="social-media-link">
            <img src="assets/images/tic-tac_white.png" alt="Logo TikTok" class="social-media-icon"/>
          </a>
          <a href="https://www.vinted.fr/member/11729892-emmanuellevly" target="_blank" class="social-media-link">
            <img src="assets/images/v_white.png" alt="Logo Vinted" class="social-media-icon"/>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-legal">
      <div class="legal-links">
        <a href="/politique-confidentialite">Politique de confidentialité</a>
        <a href="/politique-cookies">Politique des cookies</a>
        <a href="/mentions-legales">Mentions légales</a>
      </div>
    </div>
  </div>
</section>
