.services-container {
  background-color: var(--background-secondary);
  padding: 120px;

  .services-title {
    text-align: center;
    font-size: 20px;
    color: var(--text-secondary);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
  .services-subtitle {
    width: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    color: var(--text-secondary);
    margin: 0 auto ;
    padding-bottom: 10px;
  }
  .services-text {
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: var(--text-secondary);
    margin: 0 auto 25px;
  }
  .services-content {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
  }
}
.dropdown-content {
  overflow: hidden;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;
}

.dropdown-content.ng-switch-active {
  padding: 10px;
}
