.banner-container {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow-y: hidden;
  .banner-img {
    width: 135vw;
    height: 85vh;
    object-fit: cover;
    object-position: right 40%;
  }
  .banner-content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    .banner-text-container {
      position: relative;
      top: -100px;
      .banner-title {
        font-size: 3rem;
        margin-bottom: 1rem;
        display: flex;
        margin: auto;
        width: 80%;
        color: var(--text-secondary);
      }
    }
  }
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: -50px;
  z-index: 10;
  gap: 100px;
}

@media screen and (max-width: 1600px) {
  .banner-container {
    .banner-content {
      .banner-text-container {
        .banner-title {
          font-size: 2.5rem;
        }
      }
    }
  }
  .card-container {
    gap: 75px;
    padding: 20px;
  }
}

@media screen and (max-width: 1440px) {
  .banner-container {
    .banner-img {
      object-position: center 40%;
    }
    .banner-content {
      left: 35%;
      .banner-logo {
        width: 400px;
      }
      .banner-text-container {
        .banner-title {
          font-size: 2.5rem;
          width: fit-content;
        }
      }
    }
  }
  .card-container {
    gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .card-container {
    padding: 10px;
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .banner-container {
    .banner-content {
      left: 50%;
      .banner-logo {
        width: 300px;
      }
      .banner-text-container {
        top: -50px;
        .banner-title {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .banner-container {
    .banner-content {
      top: 70%;
      .banner-logo {
        width: 200px;
      }
      .banner-text-container {

        .banner-title {
          width: 300px;
          font-size: 1.5rem;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  .card-container {
    gap: 25px;
  }
}
